# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Data
data/*.db
data/*.sqlite
data/*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json

# Environment
.env

# Logs
*.log
